* {
	font-size: 12px;
}
window#waybar {
	background: rgba(255, 255, 255, 0);
	border-radius: 3rem;
}
#workspaces {
	background: rgba(7, 7, 11, 1);
	border-radius: 3rem;
}
#tray {
	padding: 5px 15px;
	background: rgba(7, 7, 11, 1);
	border-radius: 3rem;
}
label.module {
	padding: 5px 15px;
	background: rgba(7, 7, 11, 1);
	border-radius: 3rem;
}
